.card {
	/* theme colors */
	transition: 0.3s;
	padding: 15px;
	min-width: 220px;
}
.card:hover {
	/* theme colors */
}
.card > header {
	display: flex;
}
.card > footer {
	display: flex;
	justify-content: flex-end;
}
.card > footer > :not(:first-child) {
	margin-left: 15px;
}
.card > section {
	display: flex;
	flex-direction: column;
}
.card > header > .title {
	flex: 1;
}
.card > :not(:last-child) {
	padding-bottom: 15px;
}