.card {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding: 15px;
}
.card:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.card > header {
	display: flex;
}
.card > footer {
	display: flex;
	justify-content: flex-end;
}
.card > footer > :not(:first-child) {
	margin-left: 15px;
}
.card > section {
	display: flex;
}
.card > header > .title {
	flex: 1;
}
.card > :not(:last-child) {
	padding-bottom: 15px;
}