.top-bar {
	background-color: black;
	color: white;
}

.content > :not(:first-child) {
	margin-top: 15px;
}


/** Top Navigation Rules **/
ul.navigation {
	list-style-type: none;
}

ul.navigation > li > a {
	font-size: 1.1rem;
}

ul.navigation > li:not(:last-child) {
	padding-bottom: 5px;
}

@media screen and (min-width: 900px) {
	main {
		height: 100vh;
		display: grid;
		grid-template-columns: auto 1fr 100px;
		grid-template-rows: 50px 3fr auto;
		grid-auto-flow: row;
	}
	
	main > header, main > footer {
		padding: 15px;
		grid-column: 1/4;
		background-color: lightgray;
	}

	main > footer {
		grid-row: 3;
	}
	main > header {
		grid-row: 1;
	}
	
	main > nav {
		padding: 15px;
		grid-column: 1/2;
	}
	main > section {
		padding: 15px;
		grid-column: 2/3;
		overflow-y: auto;
	}
	main > aside {
		padding: 15px;
		grid-column: 3/4;
	}
	
}

@media screen and (min-width: 600px) and (max-width: 900px) {
	main {
		display: grid;
		grid-template-columns: 1fr 100px;
		grid-template-rows: 50px auto auto auto;
		grid-auto-flow: row;
	}
	
	main > header, main > footer, main > nav {
		grid-column: 1/3;
	}

	main > footer {
		padding: 5px;
		grid-row: 4;
		background-color: lightgray;
	}
	main > header {
		padding: 15px 5px 15px 5px;
		grid-row: 1;
	}
	
	main > nav {
		padding: 5px;
		grid-row: 2;
	}
	main > section {
		padding: 5px;
		grid-column: 1/2;
	}
	main > aside {
		padding: 5px;
		grid-column: 2/3;
	}
	
	/** Top Navigation Rules **/
	ul.navigation > li {
		display: inline-block;
	}
	
	ul.navigation > li:not(:last-child) {
		margin-right: 25px;
		margin: 10px 25px 0 0;
	}

}

@media screen and (max-width: 600px) {
	main > header {
		box-sizing: border-box;
		padding: 15px 5px 15px 5px;
		height: 50px;
	}
	
	main > footer, main > nav, main > section {
		padding: 5px;
	}
	
	main > aside {
		display: none;
	}
	
	/** Top Navigation Rules **/
	ul.navigation > li {
		display: inline-block;
	}
	
	ul.navigation > li:not(:last-child) {
		margin-right: 25px;
		margin: 10px 25px 0 0;
	}
}	