body {
	font-color: black;
	background-color: white;
}

a {
	color: darkblue;
}

input, select, textarea {
	border-bottom: 1px solid black;
}
input[type="button"] {
	background: #EEEEEE;
	color: darkblue;
}