body {
	font-family: Arial, Verdana;
	font-size: 16px;
	/* theme colors */
}

a {
	font-weight: bold;
	text-decoration: none;
	/* theme colors */
}

input, select, textarea {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	/* theme colors */
}
input[full-line], select[full-line], textarea[full-line] {
	width: 100%;
}
input[type="button"] {
	width: 100px;
	padding: 10px;
	border: 0;
	/* theme colors */
}

select {
	-webkit-appearance: none;
	overflow: hidden;
}

label, footer {
	font-size: 0.7rem;
}

h1 {
	font-size: 1.2rem;
	vertical-align: middle;
}

h2 {
	font-size: 1.1rem;
}