body {
	font-family: Arial, Verdana;
	font-size: 16px;
	/* theme colors */
}

a {
	font-weight: bold;
	text-decoration: none;
	/* theme colors */
}


input[full-line], select[full-line], textarea[full-line] {
	width: 100%;
}

input[type="text"], input[type="date"], select, textarea {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	/* theme colors */
	font-size: 0.8rem;
}

input[type="button"], input[type="submit"], a[button] {
	width: 100px;
	padding: 10px;
	border: 0;
	font-size: 0.8rem;
	font-weight: normal;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	/* theme colors */	
}

select {
	-webkit-appearance: none;
	overflow: hidden;
}

label, footer {
	font-size: 0.7rem;
}

h1 {
	font-size: 1.2rem;
	vertical-align: middle;
}

h2 {
	font-size: 1.1rem;
}