body {
	font-family: Arial, Verdana;
	font-size: 16px;
	font-color: black;
}

a {
	color: darkblue;
	font-weight: bold;
	text-decoration: none;
}

input, select {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	border-radius: 0;
}
input[full-line], select[full-line] {
	width: 100%;
}
input[type="button"] {
	background: #EEEEEE;
	color: darkblue;
	width: 100px;
	padding: 10px;
}

select {
	-webkit-appearance: none;
	overflow: hidden;
}

label, footer {
	font-size: 0.7rem;
}

h1 {
	font-size: 1.2rem;
	vertical-align: middle;
}

h2 {
	font-size: 1.1rem;
}